

.padding-vertical{
    padding: 2.5rem 0;
}

.padding-bottom{
    padding: 0;
}

.footer8_top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer8_legal-list{
    display: flex;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0rem;
    white-space: normal;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;

}

.footer8_legal-link  {
    color: #0f132499;
    font-size: .875rem;
}

.locales-list{
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    border: 1px solid #c8cad0;
    background-color: var(--white);
    border-radius: 99px;
    padding: 6px 16px;
    display: flex;
    background-color: white;
}

.link-current{
   color: #14151a;

}

.link{
   color: rgba(13,17,38,.4)
}
.padding-medium{
    padding: 32px 0px 0px;
}

.footer8_bottom-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
}

.social-icons1_list {
    grid-column-gap: .75rem;
    grid-row-gap: 0rem;
    white-space: normal;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: start;
    justify-items: start;
    display: grid;
}

/* .social-icons1_link{
    width: 24px;
    height: 24px;
} */
.icon-embed-xsmall {
    color: rgba(15,19,36,.6);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
}

/* .w-embed:before {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
} */

.footer8_credit-text{
color:#0d112666;
font-size: 15px;


}



